/* Container for the entire navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;

  padding: 8px 16px;
}

/* Left side: Category links */
.navbar-categories {
  display: flex;
}

.navbar-categories a {
  color: #1d1f22;
  text-decoration: none;
  transition: color 0.2s ease;

  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

  padding: 8px 16px;
}

.category-link {
  display: flex;
  align-items: center;
}

.category-link:hover {
  border-color: #5ece7b;
}

.category-link.active {
  color: #5ece7b;
  font-weight: 600;
  border-bottom: 4px solid #5ece7b;
}

.navbar-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* Right side: Currency picker and cart */
.navbar-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.currency-selector-wrapper {
  position: relative;
  width: 60px;
  height: 36px;
}

.currency-selector {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 2;
}

.currency-selector option {
  background-color: white;
  width: 200px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333;
  border-radius: 0;
}

.currency-display {
  font-family: "Roboto", sans-serif;

  font-size: 18px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  pointer-events: none;
}

/* Cart icon */
.cart-icon {
  width: 20px;
  height: 18px;
  cursor: pointer;
  transition: color 0.2s ease;
  position: relative;
}
.cart-badge {
  position: absolute;
  top: -10px; /* tweak as needed */
  right: -10px; /* tweak as needed */
  width: 20px;
  height: 20px;
  background-color: black;
  color: #ffffff;
  border-radius: 50%;

  font-family: "Roboto", sans-serif;

  font-size: 14px;
  font-weight: 700;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
}
